# Copy this file to ~/.snowflake/connections.toml and fill in your values.
# Account: zs28104.eu-central-1

[bank1]
account = "zs28104.eu-central-1"
user = "BANK1_USER"
role = "BANK1_ROLE"
database = "ECO_DEV"
schema = "ECO_RAW_v001"
warehouse = "MD_TEST_WH"
authenticator = "programmatic_access_token"
token = "<PAT_TOKEN>"

[bank2]
account = "zs28104.eu-central-1"
user = "BANK2_USER"
role = "BANK2_ROLE"
database = "ECO_DEV"
schema = "ECO_RAW_v001"
warehouse = "MD_TEST_WH"
authenticator = "programmatic_access_token"
token = "<PAT_TOKEN>"
